<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mb-3">
    <!--観光地の写真を表示したい-->
      <img class="mr-2 rounded" src="<%= gravatar_url(post.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          投稿者:<%= link_to post.user.name, user_path(post.user) %> / 国籍：<%= post.country %>
          <p><span class="text-muted">posted at <%= post.created_at %></span></p>
        </div>
        <div>
          <p>観光地名称:<%= post.sightseeing %> / 国:<%= post.country_spot %></p>
          <p><%= post.content %></p>
          <p>評価:<%= post.evaluation %></p>
        </div>
      </div>
      <% if current_user == post.user %>
            <%= link_to "Delete", root_path, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>